@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName}
    {
        @content;
    }
    @-moz-keyframes #{$animationName}
    {
        @content;
    }
    @-o-keyframes #{$animationName}
    {
        @content;
    }
    @keyframes #{$animationName}
    {
        @content;
    }
}

@include keyframes (fade-in)
{
    0%
    {
        opacity: 0;
    }

    60%
    {
        opacity: .5;
    }

    100%
    {
        opacity: 1;
    }
}


@include keyframes (bounce)
{
    0%
    {
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }

    60%
    {
        opacity: .5;
    }

    100%
    {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@include keyframes (bounce-reverse)
{
    0%
    {
        -webkit-transform: translateX(100px);

        opacity: 0;
    }

    60%
    {
        opacity: .5;
    }

    100%
    {
        -webkit-transform: translateX(0);

        opacity: 1;
    }
}
