$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

.social-media
{
    font-size: 1.375px;

    padding: 10px 2.5px 10px 0;

    text-align: -webkit-right;
    text-align:         right;

    background-color: #000;

    clear: both;

    @media only screen and(min-width: 1040px){
      padding-right: 2%;
    }

    a
    {
        padding: 0 5px;

        color: #fff;

        &:active,
        &:focus
        {
            color: #fff;
        }

        &:hover
        {
            cursor: pointer;

            color: $primary-accent-color;
        }
    }

    a:last-child{
      @media only screen and(min-width: 1040px){

          margin-right: 13px;

      }

    }

    .media-link
    {
        vertical-align: middle;
    }

    .fa {
      font-size: 1.4rem;
    }
}
