$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

.social-media
{
    font-size: 1.375px;

    padding: 13px 2.5px 10px 0;

    text-align: -webkit-right;
    text-align:         right;

    background-color: #000;

    clear: both;

    a
    {
        padding: 0 5px;

        color: #fff;

        &:active,
        &:focus
        {
            color: #fff;
        }

        &:hover
        {
            cursor: pointer;

            color: $primary-accent-color;
        }
    }

    .media-link
    {
        vertical-align: middle;
    }

    .fa {
      font-size: 1.3rem;
    }

    .octicon
    {
        font-size: 1.25rem;

        position: relative;
        bottom: 2px;
    }
}
