$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

#section-projects .items
{
    max-width: 75em;
    margin: 0 auto;
}

.section .item.project
{
    @media only screen and (min-width: 640px) and (max-width: 768px)
    {
        float: left;

        width: 49%;
        margin-right: 2%;
    }
}

.item.project:nth-child(2n)
{
    @media only screen and (min-width: 640px) and (max-width: 768px)
    {
        margin-right: 0;
    }
}


.project p
{
    font-size: .75rem;
    line-height: 1.4;

    margin: 2% 0 20px;

    text-align: left;
    letter-spacing: .5px;

    span
    {
        color: $primary-accent-color;
    }
}

.project .thumbnail
{
    position: relative;

    width: 100%;
    margin: 0 auto;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    &:before
    {
        display: block;

        padding-top: 58%;

        content: '';
    }

    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
    }

    @media only screen and (min-width: 768px)
    {
    }
}


.project-title
{
    position: relative;

    transform: translateY(-50%);
}

.project-links
{
    position: absolute;
    z-index: 10;
    right: 8px;
    bottom: 7px;
}

.project-links a
{
    font-size: .9rem;

    padding-left: 5px;

    color: #fff;

    &:hover
    {
        cursor: pointer;
        transition: color .4s;

        color: $primary-accent-color;
    }
}

.thumbnail
{
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

// .thumbnail-filter
// {
//     -webkit-filter: grayscale(90%);
//             filter: grayscale(90%);
// }

.thumbnail-one
{
    background: url(./../images/thumbnail-one.jpeg) no-repeat top center;
}

.thumbnail-two
{
    background: url(./../images/thumbnail-two.jpg) no-repeat center bottom;
}

.thumbnail-three
{
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75)), url(./../images/thumbnail-three.jpeg) no-repeat center center;
}
