$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

#section-skills .icon
{
    font-size: 40px;

    display: block;

    margin: 0 0 15px;
}

#section-skills .fa-html5
{
    font-size: 48px;

    margin-bottom: 15px;
}
