$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

#section-timeline header
{
    @media only screen and (min-width: 768px)
    {
        width: 100%;
    }
}

#section-timeline header::after
{
    position: absolute;

    display: block;
    clear: both;

    padding-left: 1px;

    content: '2016';

    @media only screen and (min-width: 960px)
    {
        font-size: 1.3rem;

        position: relative;
        top: 15px;
    }
}

.timeline
{
    position: relative;

    padding: 2em 0;
}

.timeline::before
{
    position: absolute;
    top: 0;
    left: 18px;

    width: 4px;
    height: 100%;
    /* this is the vertical line */

    content: '';

    background: #fff;

    @media only screen and (min-width: 960px)
    {
        left: 50%;

        margin-left: -2px;
    }
}

.timeline-event
{
    position: relative;

    display: block;

    margin: 2em 0;

    text-align: -webkit-left;
    text-align:         left;

    @media only screen and (min-width: 960px)
    {
        margin: 4em 0;
    }
}
.timeline-event:after
{
    display: table;
    clear: both;

    content: '';
}
.timeline-event:first-child
{
    margin-top: 0;
}
.timeline-event:last-child
{
    margin-bottom: 0;
}

.timeline-icon
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 40px;
    height: 40px;

    color: #fff;
    border-radius: 50%;
    background-color: $primary-accent-color;

    align-items: center;
    justify-content: center;;

    @media only screen and (min-width: 960px)
    {
        left: 50%;

        width: 60px;
        height: 60px;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */

        -webkit-transform: translateZ(0);
        // defines whether or not an element should be visible when not facing the screen

        -webkit-backface-visibility: hidden;
    }
}

.timeline-icon.is-hidden
{
    visibility: hidden;
}
.timeline-icon.animate
{
    visibility: visible;

    -webkit-animation: fade-in .6s;
       -moz-animation: fade-in .6s;
            animation: fade-in .6s;
}

.timeline-content
{
    position: relative;

    margin-left: 60px;
    padding: 1em;

    border-radius: .25em;
    background: #fff;

    @media only screen and (min-width: 960px)
    {
        width: 45%;
        margin-left: 0;
        padding: 1.6em;
    }
}

.timeline-content:after
{
    display: table;
    clear: both;

    content: '';
}
.timeline-content h2
{
    font-size: 1.25rem;
}

.timeline-content p,
.timeline-content .timeline-date
{
    font-size: .8125rem;

    @media only screen and (min-width: 768px)
    {
        font-size: 1rem;
    }
}

.timeline-content .timeline-date
{
    display: inline-block;

    margin: .2em 0 0;

    color: #303e49;
}

.timeline-content p
{
    line-height: 1.6;

    margin: 1em 0;
}

.timeline-content::before
{
    position: absolute;
    top: 16px;
    right: 100%;

    width: 0;
    height: 0;

    content: '';

    border: 7px solid transparent;
    border-right: 7px solid white;

    @media only screen and (min-width: 960px)
    {
        top: 24px;
        left: 100%;

        border-color: transparent;
        border-left-color: white;
    }
}

.timeline-content.is-hidden
{
    visibility: hidden;
}
.timeline-content.animate
{
    visibility: visible;

    -webkit-animation: bounce-reverse .6s;
       -moz-animation: bounce-reverse .6s;
            animation: bounce-reverse .6s;
}

.timeline-event:nth-child(even) .timeline-content
{
    @media only screen and (min-width: 960px)
    {
        float: right;
    }
}

.timeline-event:nth-child(even) .timeline-content::before
{
    @media only screen and (min-width: 960px)
    {
        top: 24px;
        right: 100%;
        left: auto;

        border-color: transparent;
        border-right-color: white;
    }
}


/* add inverse effect on even content blocks if motion aniamtion added */
.timeline-event:nth-child(odd) .timeline-content.animate
{
    @media only screen and (min-width: 960px)
    {
        -webkit-animation: bounce .6s;
           -moz-animation: bounce .6s;
                animation: bounce .6s;
    }
}

.timeline .icon-timeline
{
    font-size: 1.75rem;
}

.timeline .octicon-pencil
{
    font-size: 1.5rem;
}
.timeline .octicon-device-mobile
{
    font-size: 1.635rem;
}
