// @import '../../bower_components/bourbon/dist/bourbon';
// @import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'reset.scss';
@import 'animations.scss';

$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

$tablet: new-breakpoint(min-width 480px max-width 965px);
$desktop: new-breakpoint(min-width 965px);

html,
body
{
    font-family: $primary-font-family;

    width: 100%;
    max-width: 1800px;
    height: 100%;
}

h3
{
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4;

    margin: 0 0 20px 0;
}

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 20px;
}

ul
{
    list-style: none;
}

li
{
    display: inline-block;
}

em
{
    font-weight: 700;
    font-style: normal;
}

abbr
{
    color: $primary-accent-color;
}

mark
{
    font-weight: inherit;
    font-style: inherit;

    color: $primary-accent-color;
    background-color: transparent;
}

article
{
    height: 100%;
}

.clearfix:before
{
    display: block;
    overflow: hidden;

    height: 0;

    content: '';
}

.clearfix:after
{
    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '';
}

.timeline .icon-timeline-mobile
{
    font-size: 28px;
}

/// #sections //////////////////////////////////////////////////////////////////

#sections
{
    width: 100%;
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
}

.section
{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 7%;
    padding-bottom: 35px;

    text-align: -webkit-center;
    text-align:         center;
}

.section-grey
{
    background-color: #f3f3f3;
}

.section header
{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 30px;
}

.section header h2
{
    font-size: 1.25rem;
    font-weight: 300;

    margin-bottom: 32px;

    text-transform: uppercase;
}

.section header p
{
    font-size: 1rem;
    line-height: 1.4;

    color: #737373;
}

.text
{
    padding-top: 15px;

    text-align: -webkit-auto;
    text-align:         auto;

    border-top: 2px solid #fff;
}

.text > p:nth-of-type(2)
{
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;

    color: #737373;
}

/// #section-header ////////////////////////////////////////////////////////////////////

#section-header
{
    position: relative;

    overflow: hidden;

    height: 100%;

    background: url(./../images/image-home.jpeg) no-repeat center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background: rgba(0,0,0,.5);
    }
}

#section-header .overlay
{
    height: 100%;
}

#section-header h1
{
    font-size: 1.375rem;
    line-height: 1.925rem;

    position: relative;
    z-index: 10;
    top: 50%;

    width: 65%;
    max-width: 905px;
    margin: 0 auto;

    transform: translateY(-50%);
    text-align: center;
    letter-spacing: .15em;

    color: #fff;
}

#nav
{
    position: fixed;
    z-index: 15;
    top: 0;

    width: 100%;
    padding: 3px 5px;

    color: #fff;
    background-color: #000;
}

#nav div
{
    position: relative;

    text-align: -webkit-right;
    text-align:         right;
}

.toggle-button
{
    font-size: 1.375rem;

    padding-right: 2.5px;

    color: #fff;
    border: none;
    background-color: transparent;

    &:active,
    &:focus
    {
        outline: none;
    }

    &:hover
    {
        cursor: pointer;
    }
}

#nav .nav-list
{
    display: none;
            flex-direction: column;
            flex-direction: column;

    padding: 2px 6px;
    // position: absolute;

    -webkit-flex-direction: column;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    // height: 100%;
    // background-color: #000;
}

#nav li
{
    font-size: .675rem;
    font-weight: 600;
    line-height: 1.125;

    float: left;

    margin: 10px 0;

    letter-spacing: .15em;
    text-transform: uppercase;

    color: #fff;

    &:hover
    {
        cursor: pointer;
        transition: color .4s;

        color: $primary-accent-color;
    }
}

/// #section-skills ////////////////////////////////////////////////////////////

#section-skills .icon
{
    font-size: 40px;

    display: block;

    margin: 0 0 15px;
}

#section-skills .fa-html5
{
    font-size: 48px;

    margin-bottom: 15px;
}

/// #section-projects //////////////////////////////////////////////////////////

.project p
{
    font-size: 12px;
    line-height: 1.4;

    margin: 2% 0 20px;

    text-align: left;
    letter-spacing: .5px;
}

.project .thumbnail
{
    position: relative;

    width: 100%;
    height: 220px;
    margin: 0 auto;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
    }
}

.project-title
{
    position: relative;
    // top: 50%;

    transform: translateY(-50%);
}

.project-links
{
    position: absolute;
    z-index: 10;
    right: 8px;
    bottom: 7px;
}

.project-links a
{
    padding-left: 5px;

    color: #fff;

    &:hover
    {
        cursor: pointer;
        transition: color .4s;

        color: $primary-accent-color;
    }
}

.thumbnail
{
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

}

.thumbnail-one
{
    background: url(./../images/thumbnail-one.jpeg) no-repeat top center;
    font-family: 'Open Sans', sans-serif;

    .project-title {
      top: 50%;
    }

    h1
    {
        font: 18px/1.4;
        line-height: .1;

        color: #fff;
    }

    span
    {
        font-size: 5px;
    }

    &:after
    {
        // background: rgba(16,109,179,.5);
    }
}

.thumbnail-two
{
    background: url(./../images/thumbnail-two.jpeg) no-repeat center center;
    background-position: 0 18%;
    //     -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;

    &:after
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background: rgba(0,0,0,.1);
    }

    &:after
    {
        // background: rgba(16,109,179,.5);
    }
}

.thumbnail-three
{
    background: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url(./../images/thumbnail-three.jpeg) no-repeat center center;
    color: #fff;
    // text-align: -webkit-left;
    // text-align: left;

    .project-title {
      top: 43%;
      padding: 0 5%;
      text-align: -webkit-center;
      text-align: center;
    }

    h1 {
      font-family: 'Arizonia', Helvetica, sans-serif;
      margin-bottom: 4%;
      font-size: 35px;
    }

    // p {
    //   font-family: 'Gill Sans', Helvetica, sans-serif;
    //   font-size: 10px;
    //   margin: 2% 6px;
    // }

    //     -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;

    &:after
    {
        // background: rgba(16,109,179,.5);
    }
}

// .thumbnail-four
// {
//     background: url(./../images/thumbnail-one.jpeg) no-repeat center center;
//     //     -webkit-background-size: cover;
//     // -moz-background-size: cover;
//     // -o-background-size: cover;
//     // background-size: cover;
//
//     &:after
//     {
//         // background: rgba(16,109,179,.5);
//     }
// }

/// #section-timeline //////////////////////////////////////////////////////////

#section-timeline header::after
{
    font-size: larger;
    font-weight: 300;

    display: block;
    clear: both;

    content: '2016';
}

.timeline
{
    position: relative;

    padding: 2em 0;
}

.timeline::before
{
    position: absolute;
    top: 0;
    left: 18px;

    width: 4px;
    height: 100%;
    /* this is the vertical line */

    content: '';

    background: #fff;
}

.timeline-event
{
    position: relative;

    display: block;

    margin: 2em 0;
}
.timeline-event:after
{
    display: table;
    clear: both;

    content: '';
}
.timeline-event:first-child
{
    margin-top: 0;
}
.timeline-event:last-child
{
    margin-bottom: 0;
}

.timeline-icon
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 40px;
    height: 40px;

    color: #fff;
    border-radius: 50%;
    background-color: $primary-accent-color;

    align-items: center;
    justify-content: center;;
}

.timeline-icon.is-hidden
{
    visibility: hidden;
}
.timeline-icon.fade-in
{
    visibility: visible;

    -webkit-animation: fade-in-slow .6s;
       -moz-animation: fade-in-slow .6s;
            animation: fade-in-slow .6s;
}

// .timeline-icon img
// {
//     position: relative;
//     top: 50%;
//     left: 50%;
//
//     display: block;
//
//     width: 24px;
//     height: 24px;
//     margin-top: -12px;
//     margin-left: -12px;
// }

.timeline-icon.cd-picture
{
    background: #75ce66;
}
.timeline-icon.cd-movie
{
    background: #c03b44;
}
.timeline-icon.cd-location
{
    background: #f0ca45;
}

.timeline-content
{
    position: relative;

    margin-left: 60px;
    padding: 1em;

    border-radius: .25em;
    background: white;
}
.timeline-content:after
{
    display: table;
    clear: both;

    content: '';
}
.timeline-content h2
{
    color: #303e49;
}
.timeline-content p
.timeline-content .cd-read-more,
.timeline-content .cd-date
{
    font-size: 13px;
    font-size: .8125rem;
}
.timeline-content .cd-read-more,
.timeline-content .cd-date
{
    display: inline-block;
}

.timeline-content p
{
    line-height: 1.6;

    margin: 1em 0;
}
.timeline-content .cd-read-more
{
    float: right;

    padding: .8em 1em;

    color: white;
    border-radius: .25em;
    background: #acb7c0;
}
.no-touch .timeline-content .cd-read-more:hover
{
    background-color: #bac4cb;
}
// .timeline-content .cd-date
// {
//     float: left;
//
//     padding: .8em 0;
//
//     opacity: .7;
// }
.timeline-content::before
{
    position: absolute;
    top: 16px;
    right: 100%;

    width: 0;
    height: 0;

    content: '';

    border: 7px solid transparent;
    border-right: 7px solid white;
}

.timeline-content.is-hidden
{
    visibility: hidden;
}
.timeline-content.fade-in
{
    visibility: visible;

    -webkit-animation: fade-in-slow .6s;
       -moz-animation: fade-in-slow .6s;
            animation: fade-in-slow .6s;
}

/* inverse bounce effect on even content blocks */
.timeline-event:nth-child(even) .timeline-content.fade-in
{
    -webkit-animation: fade-in-slow-inverse .6s;
       -moz-animation: fade-in-slow-inverse .6s;
            animation: fade-in-slow-inverse .6s;
}

/// contact ////////////////////////////////////////////////////////////////////

#contact-form {
  text-align: -webkit-left;
  text-align: left;
  p {
    margin-bottom: 5px;
    color: $primary-accent-color;
  }

  input, textarea {
    padding: 5px;
    width: 100%;
    background: $primary-accent-color;
    // opacity: .8;
    color: #fff;
    margin-bottom: 16px;
    margin-top: 2px;
    border-radius: 4px;
    border: none;
    font-size: 14px;

    &:active, &:focus {
      outline: none;
    }
  }

  .email-link {
    border: 1px solid $primary-accent-color;
    padding: 5px 5px;
    border-radius: 4px;
    color: $primary-accent-color;
    background-color: transparent;
    font-size: 14px;

    .fa {
      margin-left: 4px;
    }

    &:hover{
      background-color: $primary-accent-color;
      color: #fff;
      cursor: pointer;
    }
  }
}

/// footer /////////////////////////////////////////////////////////////////////

.social-media {
  text-align: -webkit-right;
  text-align: right;
  background-color: #000;
  font-size: 22px;
  padding: 10px 0;

  a {
    color: #fff;
    padding: 0 5px;

    &:active, &:focus {
      color: #fff;
    }

    &:hover {
      cursor: pointer;
      color: $primary-accent-color;
    }
  }

  .octicon {
    font-size: 20px;
    position: relative;
    bottom: .5px;

    // &::before {
    //   vertical-align: -webkit-middle;
    //   vertical-align: middle;
    // }
  }
}

/// min-width 768px ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px)
{

    .thumbnail-three {
      // .project-title {
      //   top: 40%;
      // }
    }

    .timeline-content h2
    {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .timeline-content p
    {
        font-size: 16px;
        font-size: 1rem;
    }
    .timeline-content .cd-read-more,
    .timeline-content .cd-date
    {
        font-size: 14px;
        font-size: .875rem;
    }
}

/// min-width 1020px ///////////////////////////////////////////////////////////

@media only screen and (min-width: 1020px)
{
    .timeline .icon-timeline-mobile
    {
        font-size: 36px;
    }

    .section
    {
        padding-bottom: 60px;
    }

    .section header
    {
        padding: 75px 0;
    }

    .section header
    {
        width: 65%;
    }

    .section header h2
    {
        font-size: 2.1875rem;
    }

    .section header p
    {
        font-size: 1.25rem;
    }

    .item
    {
        float: left;

        width: 33.33%;
    }

    .text
    {
        width: 90%;
    }

    #section-header
    {
        background-attachment: fixed;
    }

    #section-header h1
    {
        font-size: 2.375rem;
        line-height: 2.925rem;
    }

    #nav
    {
        position: absolute;
        z-index: 15;
        top: auto;
        bottom: 0;

        width: 100%;
        padding: 20px 2%;

        color: #fff;
        background: transparent;
    }

    .fixed
    {
        position: fixed !important;
        top: 0 !important;
        bottom: auto !important;

        background-color: #000 !important;
    }

    #nav .toggle-button
    {
        display: none;
    }

    #nav .nav-list
    {
        position: static;

        display: flex !important;
                flex-direction: row;

        background-color: transparent;

        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-flex-direction: row;
    }

    #nav li
    {
        font-size: .875rem;
        line-height: 1.225;

        margin: 0 10px;
    }

    #section-skills .icon
    {
        font-size: 60px;

        margin: 0 10% 25px 0;
    }

    #section-skills .fa-html5
    {
        font-size: 70px;

        margin-bottom: 15px;
    }

    .project p
    {
        margin-left: 5%;
    }

    .project .thumbnail
    {
        width: 90%;
    }

    .thumbnail-three {
      h1 {
        margin-left: 4%;
        text-align: left;
        margin-bottom: 3%;
        // font-size: 28px;
      }

      p{
        // font-size: 10px;
      }
    }

    .timeline::before
    {
        left: 50%;

        margin-left: -2px;
    }

    .timeline-event
    {
        margin: 4em 0;
    }
    .timeline-event:first-child
    {
        margin-top: 0;
    }
    .timeline-event:last-child
    {
        margin-bottom: 0;
    }

    .timeline-icon
    {
        left: 50%;

        width: 60px;
        height: 60px;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */

        -webkit-transform: translateZ(0);
        // defines whether or not an element should be visible when not facing the screen

        -webkit-backface-visibility: hidden;
    }
    .timeline-icon.is-hidden
    {
        visibility: hidden;
    }
    .timeline-icon.fade-in
    {
        visibility: visible;

        -webkit-animation: fade-in-slow .6s;
           -moz-animation: fade-in-slow .6s;
                animation: fade-in-slow .6s;
    }

    .timeline-content
    {
        width: 45%;
        margin-left: 0;
        padding: 1.6em;
    }
    .timeline-content::before
    {
        top: 24px;
        left: 100%;

        border-color: transparent;
        border-left-color: white;
    }
    .timeline-content .cd-read-more
    {
        float: left;
    }
    .timeline-content .cd-date
    {
        font-size: 16px;
        font-size: 1rem;

        position: absolute;
        top: 6px;
        left: 122%;

        width: 100%;
    }
    .timeline-event:nth-child(even) .timeline-content
    {
        float: right;
    }
    .timeline-event:nth-child(even) .timeline-content::before
    {
        top: 24px;
        right: 100%;
        left: auto;

        border-color: transparent;
        border-right-color: white;
    }
    .timeline-event:nth-child(even) .timeline-content .cd-read-more
    {
        float: right;
    }
    .timeline-event:nth-child(even) .timeline-content .cd-date
    {
        right: 122%;
        left: auto;

        text-align: right;
    }
    .timeline-content.is-hidden
    {
        visibility: hidden;
    }
    .timeline-content.fade-in
    {
        visibility: visible;

        -webkit-animation: fade-in-slow .6s;
           -moz-animation: fade-in-slow .6s;
                animation: fade-in-slow .6s;
    }

    /* inverse bounce effect on even content blocks */
    .timeline-event:nth-child(even) .timeline-content.fade-in
    {
        -webkit-animation: fade-in-slow .6s;
           -moz-animation: fade-in-slow .6s;
                animation: fade-in-slow .6s;
    }
}
