// @import '../../bower_components/bourbon/dist/bourbon';
// @import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'animations.scss';
@import 'footer.scss';
@import 'reset.scss';
@import 'section.scss';
@import 'sectionContact.scss';
@import 'sectionHeader.scss';
@import 'sectionProjects.scss';
@import 'sectionSkills.scss';
@import 'sectionTimeline.scss';
@import 'thankyou.scss';

$primary-font-family: 'Istok Web', sans-serif;
$primary-accent-color: #f97172;

$tablet: new-breakpoint(min-width 480px max-width 965px);
$desktop: new-breakpoint(min-width 965px);

html,
body
{
    font-family: $primary-font-family;
    font-size: 100%;

    width: 100%;
    max-width: 1800px;
    height: 100%;
}

h3
{
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.4;

    margin: 0 0 20px 0;
}

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 20px;
}

ul
{
    list-style: none;
}

li
{
    display: inline-block;
}

em
{
    font-weight: 700;
    font-style: normal;
}

abbr
{
    color: $primary-accent-color;
}

mark
{
    font-weight: inherit;
    font-style: inherit;

    color: $primary-accent-color;
    background-color: transparent;
}

article
{
    height: 100%;
}

.clearfix::before
{
    display: block;
    overflow: hidden;

    height: 0;

    content: '';
}

.clearfix::after
{
    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '';
}




.thank-you-container {
  font-family: $primary-font-family;
  background: url(./../images/image-thankyou.jpeg) no-repeat center/cover;
  height: 100%;
  padding-top: 25%;

  .thank-you-message {
    width: 60%;
    margin: 0 auto;
    text-align: -webkit-center;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    color: $primary-accent-color;
  }

  h3 {
    margin: 5px 0;
    font-weight: 100;
  }

  p
  {
    font-weight: 100;
  }
}
  // background-position-x: 20%;

  //
  //
  // .thank-you-message
  // {
  //   text-align: -webkit-center;
  //   text-align: center;
  //   margin: 0 auto ;
  //   width: 55%;
  //
  //   @media only screen and (min-width: 740px){
  //     width: 40%;
  //   }
  //
  //     .fa-check-circle
  //     {
  //         font-size: 2rem;
  //
  //         text-align: -webkit-center;
  //         text-align: center;
  //
  //         color: #40bc5b;
  //         display: block;
  //
  //         @media only screen and (min-width: 400px){
  //           font-size: 2.5rem;
  //         }
  //
  //         @media only screen and (min-width: 740px){
  //           font-size: 3rem;
  //         }
  //
  //         @media only screen and (min-width: 1140px){
  //           font-size: 4rem;
  //         }
  //
  //     }
  //
  //     h1 {
  //       font-size: 1.8rem;
  //       margin: 5% 0;
  //       padding: 5% 0 0;
  //       border-top: solid 1px #787a7e;
  //       @media only screen and (min-width: 400px){
  //         font-size: 3rem;
  //       }
  //       @media only screen and (min-width: 740px){
  //         padding-top: 3%;
  //         margin: 3% 0;
  //       }
  //     }
  //
  //     h3 {
  //       font-size: 1rem;
  //       color: #787a7e;
  //       margin-bottom: 5%;
  //       @media only screen and (min-width: 400px){
  //         font-size: 1.3rem;
  //       }
  //       @media only screen and (min-width: 540px){
  //         font-size: 1.8rem;
  //       }
  //       @media only screen and (min-width: 740px){
  //         margin-bottom: 3%;
  //       }
  //     }
  //
  //     p{
  //       font-size: 1rem;
  //       @media only screen and (min-width: 400px){
  //         font-size: 1.5rem;
  //       }
  //     }
  // }
// }
